<div class="create" ng-show="model.user.authenticated">
Location: <input type="checkbox" ng-model="location" >&emsp;&emsp;&emsp;&emsp;Add State Incentive: <input type="checkbox" ng-model="addIncentive" ><BR>
LifeStyle: <input type="checkbox" ng-model="lifeStyle" >&emsp;&emsp;&emsp;&emsp;Add LifeStyle Program: <input type="checkbox" ng-model="addLifeStyleProgram" ><BR>
Brand: <input type="checkbox" ng-model="brand" >&emsp;&emsp;&emsp;&emsp;&emsp;Add Brand Program: <input type="checkbox" ng-model="addBrandProgram" ><BR>
Contributor: <input type="checkbox" ng-model="contributor" >&emsp;&emsp;&emsp;
Add Contributor Program: <input type="checkbox" ng-model="addContributorProgram" >
<br/>

<div ng-if="location">
  <div class="row">
    <div class="col-sm-2"></div>
    <h2 class="col-sm-10">Enrich Content With Location Info</h2>
    <center><div class="col-sm-10">(e.g. Scene = Crime Scene, Scene Location = NewYork)</div></center>
  </div>
  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label">Scene</label>
      <div class="col-sm-10">
        <input type="text" class="form-control"  ng-model="model.triple.subject" >
      </div>
    </div>
    <div class="form-group">
      
      <div class="col-sm-10">
        <input type="text" ng-if="location" class="form-control" ng-show="false" ng-model="model.triple.predicate"  ng-init="model.triple.predicate='location'"></input>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Scene location</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="model.triple.object" >
      </div>
    </div>
    

    <div class="row">
      <a class="col-sm-offset-9 col-sm-1" href="/">Cancel</a>
      <button class="col-sm-2 btn btn-primary" ng-click="submit()">Submit</button>
    </div>
  </form>
</div>

<div ng-show="lifeStyle">
  <div class="row">
    <div class="col-sm-2"></div>
    <h2 class="col-sm-10">Enrich Content With Lifestyle Info</h2>
    <center><div class="col-sm-10">(e.g. Scene = Playtime Scene, LifeStyle = Golfing)</div></center>
  </div>
  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label">Scene</label>
      <div class="col-sm-10">
        <input type="text" class="form-control"  ng-model="model.triple.subject">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-show="false" ng-model="model.triple.predicate" ng-init="model.triple.predicate='hasLifeStyle'"></input>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">LifeStyle</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="model.triple.object" >
      </div>
    </div>
    

    <div class="row">
      <a class="col-sm-offset-9 col-sm-1" href="/">Cancel</a>
      <button class="col-sm-2 btn btn-primary" ng-click="submit()">Submit</button>
    </div>
  </form>
</div>

<div ng-if="brand">
  <div  class="row">
    <div class="col-sm-2"></div>
    <h2 class="col-sm-10">Enrich Content With Brand Info</h2>
    <center><div class="col-sm-10">(e.g. Scene = Coffe Shop Scene, Brand = Starbucks Logo)</div></center>
  </div>
  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label">Scene</label>
      <div class="col-sm-10">
        <input type="text" class="form-control"  ng-model="model.triple.subject">
      </div>
    </div>
    <div class="form-group">
      
      <div class="col-sm-10">
        <input type="text" ng-if="brand" ng-show="false" ng-model="model.triple.predicate" ng-init="model.triple.predicate='hasBrand'" ></input>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Brand</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="model.triple.object" >
      </div>
    </div>
    

    <div class="row">
      <a class="col-sm-offset-9 col-sm-1" href="/">Cancel</a>
      <button class="col-sm-2 btn btn-primary" ng-click="submit()">Submit</button>
    </div>
  </form>
 </div >

 <div ng-if="contributor">
  <div  class="row">
    <div class="col-sm-2"></div>
    <h2 class="col-sm-10">Enrich Content With Contributor Info</h2>
    <center><div class="col-sm-10">(e.g. Person = Jane Smith, Contribution = TheMartian CoWriter)</div></center>
  </div>
  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label">Person</label>
      <div class="col-sm-10">
        <input type="text" class="form-control"  ng-model="model.triple.subject">
      </div>
    </div>
    <div class="form-group">
      
      <div class="col-sm-10">
        <input type="text" ng-if="contributor" ng-show="false" ng-model="model.triple.predicate" ng-init="model.triple.predicate='contributedTo'" ></input>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Contribution</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="model.triple.object" >
      </div>
    </div>
    

    <div class="row">
      <a class="col-sm-offset-9 col-sm-1" href="/">Cancel</a>
      <button class="col-sm-2 btn btn-primary" ng-click="submit()">Submit</button>
    </div>
  </form>
 </div >

 <div ng-if="addIncentive">
  <div  class="row">
    <div class="col-sm-2"></div>
    <h2 class="col-sm-10">Add State With Tax Incentive</h2>
    <center><div class="col-sm-10">(e.g. State = New York, Incentive = Tax Incentives)</div></center>
  </div>
  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label">State</label>
      <div class="col-sm-10">
        <input type="text" class="form-control"  ng-model="model.triple.subject">
      </div>
    </div>
    <div class="form-group">
      
      <div class="col-sm-10">
        <input type="text" ng-if="addIncentive" ng-show="false" ng-model="model.triple.predicate" ng-init="model.triple.predicate='<http://si.gov/si:hasTaxIncentives>'" ></input>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Incentive</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="model.triple.object" >
      </div>
    </div>
    

    <div class="row">
      <a class="col-sm-offset-9 col-sm-1" href="/">Cancel</a>
      <button class="col-sm-2 btn btn-primary" ng-click="submit()">Submit</button>
    </div>
  </form>
 </div >

 <div ng-if="addBrandProgram">
  <div  class="row">
    <div class="col-sm-2"></div>
    <h2 class="col-sm-10">Add Corporate Program</h2>
    <center><div class="col-sm-10">(e.g. Corporation = Starbucks,  Program = Brand Program)</div></center>
  </div>
  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label">Corporation</label>
      <div class="col-sm-10">
        <input type="text" class="form-control"  ng-model="model.triple.subject">
      </div>
    </div>
    <div class="form-group">
      
      <div class="col-sm-10">
        <input type="text" ng-if="addBrandProgram" ng-show="false" ng-model="model.triple.predicate" ng-init="model.triple.predicate='<http://corp.com/partner:hasBrandProgram>'" ></input>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Program</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="model.triple.object" >
      </div>
    </div>
    

    <div class="row">
      <a class="col-sm-offset-9 col-sm-1" href="/">Cancel</a>
      <button class="col-sm-2 btn btn-primary" ng-click="submit()">Submit</button>
    </div>
  </form>
 </div >

 <div ng-if="addLifeStyleProgram">
  <div  class="row">
    <div class="col-sm-2"></div>
    <h2 class="col-sm-10">Add Corporate LifeStyle Program</h2>
    <center><div class="col-sm-10">(e.g. Corporation = Starbucks,  LifeStyleProgram = SportsLifeStyle Program)</div></center>
  </div>
  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label">Corporation</label>
      <div class="col-sm-10">
        <input type="text" class="form-control"  ng-model="model.triple.subject">
      </div>
    </div>
    <div class="form-group">
      
      <div class="col-sm-10">
        <input type="text" ng-if="addLifeStyleProgram" ng-show="false" ng-model="model.triple.predicate" ng-init="model.triple.predicate='<http://corp.com/partner:hasLifeStyleProgram>'" ></input>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">LifeStyle Program</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="model.triple.object" >
      </div>
    </div>
    

    <div class="row">
      <a class="col-sm-offset-9 col-sm-1" href="/">Cancel</a>
      <button class="col-sm-2 btn btn-primary" ng-click="submit()">Submit</button>
    </div>
  </form>
 </div >

 <div ng-if="addContributorProgram">
  <div  class="row">
    <div class="col-sm-2"></div>
    <h2 class="col-sm-10">Add Contributor Program</h2>
    <center><div class="col-sm-10">(e.g. Property = The Martian, IP Rights = Contributor Program)</div></center>
  </div>
  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label">Property</label>
      <div class="col-sm-10">
        <input type="text" class="form-control"  ng-model="model.triple.subject">
      </div>
    </div>
    <div class="form-group">
      
      <div class="col-sm-10">
        <input type="text" ng-if="addContributorProgram" ng-show="false" ng-model="model.triple.predicate" ng-init="model.triple.predicate='hasContributorProgram'" ></input>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">IP Rights</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="model.triple.object" >
      </div>
    </div>
    

    <div class="row">
      <a class="col-sm-offset-9 col-sm-1" href="/">Cancel</a>
      <button class="col-sm-2 btn btn-primary" ng-click="submit()">Submit</button>
    </div>
  </form>
 </div >

</div>
